* {
    padding: 0;
    margin: 0;
}
body {
    font-size : 20px;
    font-family: 'roboto';
}
li {
    list-style-type: none;
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    border-bottom: solid 1px white;
    align-items: center;
}
ul {
    display: flex;
    
}
li {
    padding: 1rem;
    color: white;
}
.bold {
    font-weight: bold;
}
.fontStyle {
    font-family: 'Style Script';
    font-size: 28px;
}
/***** Menu Toogle *****/

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: darkgray;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #hamburger-menu {
    opacity: 0;
    visibility: hidden;
    height:0;
  }

#titreNav span {
    font-family: 'Style Script', 'sans-serif';
    font-size: 28px;
    color: white;
}
#titreNav {
    position: absolute;
    left: 0;
}
#containerNav {
    display: flex;
    align-items: center;
}
a {
   text-decoration: none;
}
#container1 {
    display: flex;
}
#container1 h1 {
    font-family: 'Style Script', 'sans-serif';
    position: absolute;
    color: white;
    left: 35%;
    margin-top: 2rem;
    font-size: 65px;
}
#container1 img {
    width: 100%;
    height: 100%;
}
#container2 {
    height: 270px;
    background-color: grey;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#container2 p {
    margin: auto;
    color: white;
}
#container2 a {
    margin: auto;
}
.btnInfo{
    background-color: black;
    padding: 10px;
    border-radius: 25px;
    color: rgb(196, 195, 195)!important;
    box-shadow: 5px -1px 15px -4px rgba(0,0,0,0.75);
}
.card {
    width: 300px;
    background-color:black;
    height: 500px;
    color: rgb(236, 236, 236);
    text-align: center;
    border-radius: 10px;
    box-shadow: grey;
    font-family: 'Roboto';
    margin-bottom: 1rem;
    box-shadow: 5px -1px 15px -4px rgba(0,0,0,0.75);
}
.card:hover, .btnInfo:hover {
    box-shadow: 5px -1px 15px -4px rgba(105, 105, 105, 0.75);
    transform: scale(1.02);
}
.card img {
    border-radius: 10px 10px 0 0;
}
.nameCard {
    padding-bottom: 1rem;
    text-transform: uppercase;
}
#titleContainer3{
    font-size: 40px;
    font-family: 'Style Script';
    text-align: center;
}
.line {
    width: 300px;
    background-color: black;
    height: 1px;
    display: block;
    margin: auto;
}
#containerTitleContainer3 {
    margin-top: 1rem;
    display: flex;
}

#container3 {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 100px;
    justify-content: center;
    align-items: center;
}
footer i {
    padding: 1rem;
    font-size: 25px;
}
footer a {
    color: white ;
}

/***** Cat *****/

.containerCat img {
    width: 500px;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 5px -1px 15px -4px rgba(0,0,0,0.75);
}
.textCat {
    text-align: center;
    width: 900px;
    background-color: grey;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    color: ghostwhite;
    font-family: 'roboto';
    box-shadow: 5px -1px 15px -4px rgba(0,0,0,0.75);
}
.textCat p {
    padding: 1rem;
}
.catName {
    font-size: 40px;
    font-family: 'Style Script';
}
.descriptionCat {
    margin-bottom: 1rem;
}
.containerCat {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;

}
.femaleSymbol {
    color: palevioletred;
}
.maleSymbol {
    color: rgb(44, 44, 212);
}
.symbol {
    font-size: 30px;
}
.contact {
    color: black;
}
/***** Responsive *****/

@media (max-width:768px) {
    #hamburger-menu {
        opacity: 1;
        visibility: visible;
        height:0;
      }
    nav {
        display: none;
    }
    .textCat, .containerCat img {
        width: 700px;
    }
}
@media (max-width:590px) {
    body {
        font-size: 13px;
    }
    #titreNav span {
        font-size: 15px;
    }
    #container1 h1 {
        font-size: 25px;
    }
    ul {
        margin-left: 4rem;

    }
    .card {
        height: 460px;
    }
    .textCat {
        height: 420px;
    }

}
@media (max-width:414px) {
    .textCat, .containerCat img {
        width: 350px;
    }
}
@media (max-width:1024px) {
    .containerCat{
        flex-direction: column;
    }
    .textCat {
        margin-top: 1rem;
    }
}