* {
    padding: 0;
    margin: 0;
}
body {
    font-size : 20px;
    font-family: 'Quicksand';
}
li {
    list-style-type: none;
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    border-bottom: solid 1px white;
    align-items: center;
}
ul {
    display: flex;
    
}
li {
    padding: 1rem;
    color: white;
}
.bold {
    font-weight: bold;
}
.fontStyle {
    font-family: 'Style Script';
    font-size: 28px;
}
/***** Menu Toogle *****/

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: darkgray;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 1;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #hamburger-menu {
    opacity: 0;
    visibility: hidden;
    height:0;
  }

#titreNav span {
    font-family: 'Style Script', 'sans-serif';
    font-size: 28px;
    color: white;
}
#titreNav {
    position: absolute;
    left: 0;
}
#containerNav {
    display: flex;
    align-items: center;
}
a {
   text-decoration: none;
}
#container1 {
    display: flex;
}
#container1 h1 {
    font-family: 'Style Script', 'sans-serif';
    position: absolute;
    color: white;
    left: 35%;
    margin-top: 2rem;
    font-size: 65px;
}
#title {
    animation: appear 2s;
}
@keyframes appear {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0px);
    }
}
#container1 img {
    width: 100%;
    height: 100%;
}
#containerActu {
    background-color: rgb(200, 200, 200);
}
#containerActu p{
    color: white;
}
#container2 {
    height: 270px;
    background-color: grey;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 3px 3px 3px 3px;
    border-radius: 10px;
}
#container2 p {
    margin: auto;
    color: white;
}
#container2 a {
    margin: auto;
}
.btnInfo{
    background-color: black;
    padding: 10px;
    border-radius: 25px;
    color: rgb(196, 195, 195)!important;
    box-shadow: 5px -1px 15px -4px rgba(0,0,0,0.75);
}
.card {
    width: 300px;
    height: 520px;
    background-color: black;
    color: rgb(236, 236, 236);
    text-align: center;
    border-radius: 10px;
    box-shadow: grey;
    font-family: 'Roboto';
    margin-bottom: 1rem;
    box-shadow: 5px -1px 15px -4px rgba(0,0,0,0.75);
}
.imageCard {
    object-fit: cover;
    width: 300px;
    height: 400px;
}

.infocard {
    padding: 5px;
}
.paddingCard {
    padding: 1rem!important;
}
.card:hover, .btnInfo:hover {
    box-shadow: 5px -1px 15px -4px rgba(105, 105, 105, 0.75);
    transform: scale(1.02);
}
.card img {
    border-radius: 10px 10px 0 0;
}
.nameCard {
    padding-bottom: 1rem;
    /* text-transform: uppercase; */
}
#titleContainer4{
    font-size: 40px;
    font-family: 'Style Script';
    text-align: center;
}
.line {
    width: 300px;
    background-color: black;
    height: 1px;
    display: block;
    margin: auto;
}
#containerTitleContainer4 {
    margin-top: 1rem;
    display: flex;
}

#container4 {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
footer i {
    padding: 1rem;
    font-size: 25px;
}
footer a {
    color: white ;
}

/***** Cat *****/

.containerCat img {
    width: 500px;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 10px;
    box-shadow: 5px -1px 15px -4px rgba(0,0,0,0.75);
}
.textCat {
    text-align: center;
    width: 700px;
    background-color: grey;
    margin: auto;
    border-radius: 10px;
    color: ghostwhite;
    box-shadow: 5px -1px 15px -4px rgba(0,0,0,0.75);
}
.textCat p {
    padding: 1rem;
}
.catName {
    font-size: 40px;
    font-family: 'Style Script';
}
.descriptionCat {
    margin-bottom: 1rem;
    overflow-wrap: break-word;
}
.containerCat {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;

}
.femaleSymbol {
    color: palevioletred;
}
.maleSymbol {
    color: rgb(44, 44, 212);
}
.symbol {
    font-size: 30px;
}
.contact {
    color: black;
}
/***** Responsive *****/

@media (max-width:768px) {
    #hamburger-menu {
        opacity: 1;
        visibility: visible;
        height:0;
      }
    nav {
        display: none;
    }
    .line {
        width: 60px;
    }
    #titleContainer3 {
        font-size: 25px;
    }
    #myBtn {
        width: 200px!important;
        font-size: 15px!important;
    }
    .imageCat {
        margin: auto;
        margin-top: 4rem!important;
    }
}
@media (max-width:590px) {
    body {
        font-size: 15px;
    }
    #titreNav span {
        font-size: 17px;
    }
    #container1 h1 {
        font-size: 27px;
    }
    ul {
        margin-left: 4rem;

    }
    .card {
        height: 480px;
    }
}
@media (max-width:414px) {
    .textCat, .containerCat img {
        width: 350px;
    }
    #container2 {
        height: 170px;
    }
}
@media (max-width:1024px) {
    .containerCat{
        flex-direction: column;
    }
    .textCat {
        margin-top: 1rem;
    }
    #containerActus {
        flex-direction: column;
        align-items: center;
    }
    .actu {
        width: 97%;
        height: 170px;
    }
}
@media (min-width:768px) {
    .actu {
        height: 250px;
    }
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#myBtn, #mybtn2 {
    width: 300px;
    margin: auto;
    font-size: 18px;
}
.textModal {
    color: black!important;
}
.symbolIndex {
    font-size: 25px;
}
.fa-heart {
    color: rgb(247, 81, 81);
    font-size: 16px;
}
#containerActus {
    display: flex;
    justify-content: center;
}
.actu {
    text-align: center;
    margin: 1rem;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
}
.textActu {
    margin: auto;
    text-align: center;
    padding: 2rem;
    background-color: grey;
    text-align: center;
    width: 700px;
    margin: auto;
    border-radius: 10px;
    color: ghostwhite;
    box-shadow: 5px -1px 15px -4px rgb(0 0 0 / 75%);
}
.textActu h1 {
    margin-bottom: 2rem;
    font-family: 'Style Script';
}

#containerPageActu {
    display: flex;
}
.actu h2 {
    margin-bottom: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.actu p {
    margin-bottom: 1rem;
    padding: 5px;
}
.actu a {
    color: white;
}
.black {
    color: black!important;
}
.btn {
    padding: 5px;
    background-color: rgb(66, 66, 170);
    border: none;
    color: white;
    border-radius: 4px;
}
.btn:hover {
    background-color: rgb(119, 119, 190);
}
.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#copyright {
    display: flex;
    flex-direction: column;
}
.coded a:hover {
    cursor: pointer;
}
.coded {
    align-self: center;
    font-size: 17px;
    color: grey;
    position: absolute;
    right: 4px;
}
.seeMore {
    text-align: end;
    margin-right: 3rem;
}
.seeMoreP {
    margin-bottom: 2rem;
    text-align: end;
    padding-right: 5rem;
}
.date {
    font-size: 14px;
    text-align: end;
}
.reserved {
    color: rgb(179, 45, 45);
    font-family: 'Quicksand'!important;
    font-size: 20px!important;
}
.size {
    font-size: 19px;
}
.black {
    color: black;
}
.aSave {
    color: black;
}